<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/Python_4%EC%9E%A5_07_for_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문을 배워보자.
-  while 반복문에 비해서 for 반복문은 기능이 더 많다.
-  그런만큼 다양한 사용 방법이 있어서 복잡하게 느껴질 수 있다.

In [ ]:
# 아래는 문자열 전체를 한꺼번에 출력한다.

alphabets = "abcdefghijklmnopqrstuvwxyz"

# 내장 함수 print()를 사용한다.
print(alphabets)

abcdefghijklmnopqrstuvwxyz

In [ ]:
print(len("abcdefghijklmnopqrstuvwxyz"))

26

# 아래와 같이 출력하고 싶다면?
a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z
# 어떻게 하면 될까?
# 당연히 한 문자씩 순서대로 출력해야한다.

In [ ]:
# for 반복문을 이용한 문자열 사용

# 아래의 문장은 문자열 변수 'alphabets"의 문자들을 순차적으로 출력하는 문장이다.
# for 반복문에서 이럴 때 조건 연산자 in을 사용하면 편하다.

for c in alphabets: 
    print(c)

# 위의 문장은 이렇게 읽으면 된다.
# alphabets라는 문자열(실제로는 향후에 리스트 등의 자료형을 배우게 되면 iterable 객체) 객체를 
# 앞에서 부터 순차적으로 하나씩 c라는 변수에 담아서,
# for 반복문의 body에서 사용하라

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
# 위와 다르게 한 줄로 출력하고 싶다면?

for c in alphabets: 
    print(c, end="") # print() 함수의 end 파라미터는 앞에서 잠깐 소개했었다.

abcdefghijklmnopqrstuvwxyz

In [ ]:
# 그럼, 아래와 같이 출력하고 싶다면?
# a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z

for c in alphabets: 
    print(c, end="-")

a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z-

# 그런데, 마지막 문자 z 다음에는 -를 출력하지 않아야한다.

In [ ]:
for c in alphabets: 
    if c == 'z': 
        print(c)
    else:
        print(c, end="-")

a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z

In [ ]:
# 다른 방법

alphabets = "abcdefghijklmnopqrstuvwxyz"

for c in alphabets:
    if c == alphabets[-1]:
        print(c)
    else:
        print(c, end = "-")

a
b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z-

In [ ]:
alphabets = "abcdefghijklmnopqrstuvwxyz"

for i in alphabets:
    if(i != 'a'):
        print("-",end="")
    print(i, end="")

a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z

In [ ]:
alpabets = "abcdefghijklmnopqrstuvwxyz"

for c in alpabets:
    if c == 'z':
        print(c)
    else:
        print(("{}-").format(c), end="")

a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z

# 위와 다른 방법은 없을까?
# 이런 생각을 계속하면서 프로그래밍을 공부하면 효과가 좋다.

In [ ]:
# 아래의 코드를 실행해보자.
# 각 문자 앞에 번호를 같이 출력하고 싶다.

alphabets = "abcdefghijklmnopqrstuvwxyz"

i = 0
for c in alphabets: 
    msg = str(i) + ":" + c
    print(msg)
    i += 1 # 복합 연산자라고 한다. i = i + 1 과 동일하다.

0:a
1:b
2:c
3:d
4:e
5:f
6:g
7:h
8:i
9:j
10:k
11:l
12:m
13:n
14:o
15:p
16:q
17:r
18:s
19:t
20:u
21:v
22:w
23:x
24:y
25:z

In [ ]:
# 지금은 모르고 넘어가도 되지만..
# 위의 코드를 더 간략하게 하는 방법이 있다.

alphabets = "abcdefghijklmnopqrstuvwxyz"

for i, c in enumerate(alphabets): 
    msg = str(i) + ":" + c
    print(msg)

# enumerate()하는 함수인데.. 향후에 배워도 된다.
# 이 함수는 반환값이 2가지이다(인덱스와 값)

0:a
1:b
2:c
3:d
4:e
5:f
6:g
7:h
8:i
9:j
10:k
11:l
12:m
13:n
14:o
15:p
16:q
17:r
18:s
19:t
20:u
21:v
22:w
23:x
24:y
25:z

In [ ]:
# len()라는 함수는 파이썬에서 sequence 자료형(예: string, bytes, tuple, list, or range) 
# 또는 collection 자료형(예: dictionary, set or frozen set)와 같은 
# 객체들의 갯수를 반환하는 함수다.

print(len("abc"))
print(len("abc123"))
print(len(""))

3
6
0

In [ ]:
# 향후에 list 자료형을 배우면 for 문을 더욱 다양하게 사용하겠지만
# 미리 예제를 하나 보고 넘어가자.

# 아래가 리스트의 예제이다.
# 아직은 설명하지는 않았지만....

scores = [90, 100, 87, 89, 82]

total_score = 0 
for score in scores: 
    total_score += score

average = total_score / len(scores)
if  average >= 80:
    print("평균 성적 {}으로 합격입니다.".format(average))
else:
    print("평균 성적 {}으로 불합격입니다.".format(average))

평균 성적 89.6으로 합격입니다.

In [ ]:
# 실제로는 위와 같은 방식으로 구현하지 않는다.
# 파이썬에서 제공되는 함수들을 많이 사용하기 때문이다.

scores = [90, 100, 87, 89, 82]

# 아래는 sum( )이라는 내장함수를 사용한다.
average = sum(scores) / len(scores)

if  average >= 80:
    print("평균 성적 {}으로 합격입니다.".format(average))
else:
    print("평균 성적 {}으로 불합격입니다.".format(average))

평균 성적 89.6으로 합격입니다.

# 아래의 내용은 향후에 설명할 내용의 맛보기입니다.

In [ ]:
# len() 함수는 파라미터의 길이를 반환한다.

# 문자열의 특정 문자 1개를 [   ]를 사용하여 인덱스를 통해서 사용할 수도 있다.
# 향후에 자세하게 소개된다.

alphabets = "abcdefghijklmnopqrstuvwxyz"

i = 0
while i < len(alphabets):
    print(alphabets[i])
    i = i + 1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
# 그렇지만 위와 같은 형식은 추천하지 않는다.
# 대신.. 아래 형식을 추천한다.

alphabets = "abcdefghijklmnopqrstuvwxyz"

for c in alphabets:
    print(c)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
"""
for문은 in 뒤에 범위를 지정해서 지정된 범위만큼 반복 실행할 수 도 있다.
for 변수 in 범위:
    실행할 문장들
    ...

이때 범위를 지정하기 위해서 range( ) 함수를 사용할 수 있다. 
다음 코드에서, range(num) 즉, 0에서 num-1까지 for 반복문의 바디가 실행된다. 즉, 아래는 0에서 9까지의 합을 구한다.

"""

sum = 0

for x in range(11):
    sum += x

print(sum)

55

In [ ]:
# range() 함수를 사용하여서 특정 범위 동안 반복문을 수행할 수도 있다.
# 아래는 1 이상 11 미만 까지 반복
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 아래는 10 에서 
for x in range(1, 11, 1):
    print(x)

1
2
3
4
5
6
7
8
9
10

# for 반복문은 향후에 다양한 자료형을 배우면서도 자세히 소개된다.
- 여기의 내용이 모두 이해되지 않으면 나중에 자세하게 배우자.

In [ ]:
# 구구단 출력하기
# 2-9단까지 앞 부분 (한번 순회)
# 1-9 까지 곱해짐. 뒷 부분 (1-9까지 순회, 이것이 8번 반복)
#  for문을 2개 사용 한다.
# 앞부분 변수와, 뒷부분 변수를 지정한다.

x = 
y =

### 구구단 출력하기  
2 * 1 = 2  
2 * 2 = 4  
2 * 3 = 6  
...  
9 * 9 = 81

In [ ]:
x = [2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오(while문 사용)
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오(for, if 사용) 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지), (for, if 사용)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 for 와 while을 사용하여 각각 구해보시오.

In [ ]:
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x, 'x', y, '=', x*y)
        y += 1
    x += 1

In [ ]:
x = 2
y = 1
while x <= 9:
    while y <= 9:
        print(x, 'x', y, '=', x*y)
        y += 1
    x += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
nums = list(range(1, 101))
for x in nums:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

In [ ]:
# sort 함수(정렬)을 사용한 경우
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()
a[0], a[-1]

(1, 99)

In [ ]:
# 처음 만나는 값을 최소 값으로 가정
# 그리고 그 후 숫자를 만날때마다 현재 최소값보다 그 숫자가 작으면 최소값을 그 숫자로 업데이트

_min = a[0]
for x in a:
    if x < _min:
        _min = x
print(_min)

1

In [ ]:
_max = a[0]
for x in a:
    if x > _max:
        _max = x
print(_max)

99

In [ ]:
# 최대 최소 동시에
_min = a[0]
_max = a[0]
for x in a[1:]:
    if x < _min:
        _min = x
    if x > _max:
        _max = x

print(_min, _max)

1 99

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [ ]:
# while
i = 0
_sum = 0
while i < len(a):
    _sum += a[i]
    i += 1
    
print(_sum / len(a))

37.0

In [ ]:
# for
_sum = 0
for x in a:
    _sum += x
    
print(_sum / len(a))

37.0