<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/3_%EC%A4%91%EC%8B%AC%EA%B2%BD%ED%96%A5%EC%B9%98_(%ED%8F%89%EA%B7%A0%2C_%EC%B5%9C%EB%B9%88%EC%B9%98%2C_%EC%A4%91%EC%95%99%EA%B0%92).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 중심경향치 (평균, 최빈치, 중앙값)

**중심경향치(central tendency measures)란?**

- 자료의 중심을 나타내는 숫자
- 자료 전체를 대표
- 평균, 중간값, 최빈값 등이 있다

### 평균
- 평균(mean): 자료의 합을 자료의 갯수로 나눈 값

In [ ]:
# 다음과 같은 리스트가 있을 때:

x = [100, 100, 200, 400, 500]

In [ ]:
# numpy를 이용해 다음과 같이 평균을 구할 수 있다.

import numpy as np
np.mean(x)

260.0

In [ ]:
# 평균은 극단적인 값(outliers)의 영향을 잘 받는다. 
# 위의 x에서 500 하나를 1700으로 바꾸었을 뿐이지만 전체 평균은 크게 변한다.

y = [100, 100, 200, 400, 1700]
np.mean(y)

500.0

소득처럼 분포가 비대칭적인 경우에도 평균이 자료를 잘 대표하기 어렵다.

사칙연산 중 덧셈이 가능해야 하므로, 등간척도/비율척도에서 쓸 수 있다. 서열척도와 명목척도에서는 쓸 수 없다.

### 중간값

- 중간값(median): 자료를 크기 순으로 정렬했을 때 정 가운데에 있는 값
- 자료의 상위 50%와 하위 50%를 가르는 지점
- '중앙값' 또는 '중위수'라고도 한다.

In [ ]:
# 극단적인 값에 영향을 받지 않는다.
np.median(x)

200.0

In [ ]:
np.median(y)

200.0

In [ ]:
# 데이터가 짝수 개일 경우에는 가운데 두 값의 평균

np.median([100, 200, 300, 400])

250.0

자료를 크기 순으로 정렬할 수만 있으면 되므로 서열척도/등간척도/비율척도에서 쓸 수 있다. 명명척도에서는 쓸 수 없다.

### 최빈값
- 최빈값(mode): 가장 빈번하게 관찰/측정되는 값

In [ ]:
# scipy
from scipy.stats import mode
mode(x)

ModeResult(mode=array([100]), count=array([2]))

In [ ]:
import numpy as np
from scipy import stats

In [ ]:
array = np.array([1,1,2,3,4,4,5])
mode = stats.mode(array)
print(mode)

ModeResult(mode=array([1]), count=array([2]))

In [ ]:
# numpy
array = np.array([1,1,2,3,4,4,5])
vals,counts = np.unique(array, return_counts=True)

In [ ]:
print(vals,counts)

[1 2 3 4 5] [2 1 1 2 1]

In [ ]:
index = np.argmax(counts)
print(index)
# print(vals[index])

0

In [ ]:
# pandas
import pandas as pd
data = [1,1,2,3,4,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  1
2  2
3  3
4  4
5  4
6  5

In [ ]:
df.value_counts()

1    2
4    2
2    1
3    1
5    1
dtype: int64

In [ ]:
df.mode()

   0
0  1
1  4

모든 척도에 가능하나 주로 범주변수(명명척도, 서열척도)에 사용