<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/Python_1%EC%9E%A5_03_input_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# input() 함수로 값을 입력받자.
- print() 함수와 반대의 기능을 수행한다.

In [ ]:
# print() 함수와 input() 함수를 연속해서 사용함으로써 입력값을 확인할 수 있다.
# 프로그램을 실행한 후에, 아래와 같이 콘솔 창에서 숫자를 입력해보자. 

print('Please, input a number:')
a = input()
print('You entered:', a)

Please, input a number:
123
You entered: 123

In [ ]:
# 각 셀은 먼저 위에서 실행된 셀의 결과를 내부적으로 저장하고 있다.
# 따라서, 이 셀을 실행하면, 바로 위의 셀에서 사용한 a라는 변수값을 가지고 있는 것이다.
print(type(a))

# 입력값의 자료형을 출력해보자.
# 입력값은 무조건 str(문자열)이다.
# 숫자를 입력하더라도 문자열로 입력된다.

<class 'str'>

# 위의 출력 결과를 통해서 input() 함수는 문자열을 반환하는 것을 확인할 수 있다.

In [ ]:
# 또는 아래와 같이 input( ) 함수를 사용할 수도 있다.
# input() 함수에 문자열을 파라미터로 사용하면 메세지 출력 후에 값을 입력받을 수 있다.

b = input('Please, input a second number:')
print('You entered:', b)

Please, input a second number:123
You entered: 123

In [ ]:
# '자료형(data types)'에 대해 간단하게 설명했었는데..
# 자료형들 간에 변환할 수 있는 함수가 있다.
# 이런 함수들은 자료형 그 자체의 이름을 그대로 사용하고 있는데...

print(int(3.14))
print(int("12345"))
print(float(10))
print(str(3.14))
print(bool(1))
print(bool(0))
print(int(float("123.1")))

# 위의 내용은 지금은 몰라도 된다.
# 나중에 자세하게 다시 설명한다.

3
12345
10.0
3.14
True
False
123

In [ ]:
# input() 함수는 문자열을 반환한다.
# 따라서 정수를 입력받고 싶으면 int() 함수를 이용해서 문자열을 숫자로 변환할 수 있다.
# 즉, input( ) 함수는 문자열로 입력받기 때문에 숫자를 입력받으려면 int( ) 함수로 변환해서 사용한다.

msg = input("Enter any number and l will add 10 to the number: ")
no = int(float(msg))


print("You entered", no)
print("I'll add", 10, "to it")
print("So, the result is...", no + 10)

Enter any number and l will add 10 to the number: 123.1
You entered 123
I'll add 10 to it
So, the result is... 133

In [ ]:
msg = input("Enter any number and l will add 10 to the number: ")
no = # 코드를 작성해 보세요

print("You entered", no)
print("I'll add", 10, "to it")
print("So, the result is...", #코드를 작성해 보세요 + 10)

# input 123.1
# 형변환
# 변수

In [ ]:
# int() 함수를 통해서 파라미터를 int 자료형으로 변경할 수 있다고 했다.
# 그렇지만 아래 문장은 에러다
# "1", "123" 처럼 숫자로 된 문자열만 변경이 가능하다.
print(int("AA"))

ValueError: ignored

# [각자 실습 해보자]

아래의 셀에서 각각 다양한 형식으로 input() 함수와 print() 함수를 활용해보자.

In [ ]:
# 여기에...

print(type(int('100')))

a = type(int('1234q'))
print(a)