<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/Python_2%EC%9E%A5_01_list_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 조작과 관련된 여러 함수들

# 이제 메쏘드(method)라는 개념을 구제적으로 알아야한다.
- 이 단어는 클래스(class)와 관련있다.
- 클래스는 객체 지향 프로그래밍(OOP: object-oriented programming)관련 있다.
- 객체(object)는 '값(data)'와 '함수(function)을 합친 개념이다.
- 파이썬에서는 모든 데이터는 객체다

# ...간단하게 말하면...
- 객체 이름 뒤에 .을 붙여서 객체에서 제공하는 여러 기능을 사용할 수 있다.
- 그 기능을 메쏘드(method)라고 한다.

# 리스트 객체에도 다양한 메쏘드들이 있다.
- 하나씩 배워보자.
- 지금 다 기억할 필요없다.
- 이런 기능들이 있구나...하는 생각만 가지면 된다.
- 나중에 필요할때 웹 검색해서 사용하면 된다.
- 검색창에서 '파이썬', '리스트', '메쏘드' 등의 키워드로...

In [ ]:
# 예제로 설명하자.

# 아래의 sample이라는 변수는 str(스트링) 클래스의 객체라는 말이다.
sample = 'test'
print(type(sample))

# 아래는 str 객체의 앞글자를 대문자로 '변경해서 "반환"'하는 capitalize() 메쏘드를 사용하는 것이다.
print(sample.capitalize())word_list = "I_love_python".split('_')
# 즉, 해당 str 객체가 변경되지 않는다. str 객체는 immutable이기 때문이기도 하다.
print(sample)

<class 'str'>
Test
test

# in 키워드

In [ ]:
# 리스트 안에 원하는 값이 존재하는지 검사하는 키워드...in
a = [1, 2, 2, 3, 4, 5, 5, 5]

# in 키워드는 리스트에 존재하면 True 반환
print(3 in a)
print(10 in a)

True
False

# 리스트 검색
- count()
- index()

In [ ]:
# 리스트 안에 원하는 값이 존재하는지 검사하는 함수들...
# 조금씩 다른 여러가지가 있다.
a = [1, 2, 2, 3, 4, 5, 5, 5]
print(a.count(5)) # 리스트에 있는 파라미터 값을 갯수 반환
print(3 in a)
print(10 in a)
print(a.index(3)) # 리스트에 있는 파리미터 값의 위치반환(처음 1개만)

3
True
False
3

In [ ]:
# index() 메쏘드 사용의 주의 사항
# 검색할 항목이 없으면 ValueError 발생
# print(a.index(10))
# 따라서 검색하기 전에 인덱스를 체크해야함
if 10 in a:
    print(a.index(10))

In [ ]:
a = [1, 2, 2, 3, 4, 5, 5, 5]
print(a)

# index() 함수는 파라미터의 위치(인덱스) 반환
print(a.index(2))

# count() 함수는 파라미터의 중복된 갯수 반환
print(a.count(5))

[1, 2, 2, 3, 4, 5, 5, 5]
1
3

# 리스트의 항목 추가
- insert()
- append()
- extend()

In [ ]:
a = [1, 2, 4, 5]
a.insert(3, 3) # 원하는 인덱스에 원하는 값 삽입
a.append(6) # 리스트의 마지막에 값 추가
print(a)

[1, 2, 4, 3, 5, 6]

In [ ]:
# entend( ) 메쏘드는 리스트의 끝에 다른 리스트를 덧붙인다.
a = [1, 2, 3, 4, 5, 6]
a.extend([7,8,9])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 리스트의 항목 삭제
- remove()

In [ ]:
# 리스트의 항목 삭제

a = [1, 2, 3, 4, 5, 5]

# remove() 메쏘드 사용
a.remove(4)
print(a)

[1, 2, 3, 5, 5]

In [ ]:
# 삭제할 값이 없으면 ValueError 발생
a.remove(10)

ValueError: ignored

In [ ]:
# 따라서 아래와 같이 값이 존재하는 지를 먼저 체크하는 것이 안전함
if 10 in a:
    a.remove(10)

In [ ]:
# 키워드 del을 이용한 삭제
# del은 함수가 아닙니다. 연산자 또는 키워드입니다.

# 아래는 리스트 중의 하나의 항목 삭제입니다.
print(a)

del a[2]

print(a)

[1, 2, 3, 5, 5]
[1, 2, 5, 5]

In [ ]:
# 아래는 리스트 전체(리스트 자체)를 삭제합니다.
del a

# 따라서 아래의 문장을 실행하면 오류가 발생합니다.
print(a)

NameError: ignored

# 리스트 정렬

In [ ]:
# 리스트 내의 요소를 오름차순으로 정리하다.
a = [5,2,1,4,3]
a.sort()
print(a)

# 내림차순으로 정리하고 싶다면 sort(reverse=True)라 입력하면 된다.
a = [5,2,1,4,3]
a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# sort와 sorted 차이

# sorted 함수는 정렬된 새로운 리스트를 리턴시켜준다.
# 반면에 sort 메소드는 아무것도 리턴시켜주지 않는다. (None을 리턴시켜줌)
b = [5, 7, 2, 3, 1]

print(sorted(b))
print(b.sort())

# sorted 함수는 b리스트 에 영향을 주지 않는다. 새로운 리스트를 만들어 리턴해준다.
b = [5, 7, 2, 3, 1]

sorted(b)
print(sorted(b))
print(b)

# 반면에 sort 메소드는 b 리스트 자체를 정렬한다.
b = [5, 7, 2, 3, 1]

b.sort()
print(b)

[1, 2, 3, 5, 7]
None
[1, 2, 3, 5, 7]
[5, 7, 2, 3, 1]
[1, 2, 3, 5, 7]

# 리스트와 for 반복문

In [ ]:
# 리스트와 for 반복문

l = ['one', 'two', 'three']
for i in l:
    print(i)

score = [90, 100, 80, 70, 60]

one
two
three

In [ ]:
number = [1, 2, 3, 4, 5, 6]
sum = 0

for x in number:
    sum += x
print(sum)

num = 10
sum = 0

for x in range(num):
    sum += x
print(sum)

21
45