<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/Python_1%EC%9E%A5_07_type_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 형 변환(type conversion)
- implicit type conversion
- explicit type conversion(== type casting)

In [ ]:
# implicit type conversion

a = 10
b = 20.0

c = a + b
print(c, type(c))

# 왜? 연산 중에 data type을 바꿔야할까요?
# 왜? int를 float로 바꿀까요? 그 반대는?

30.0 <class 'float'>

In [ ]:
# explicit type conversion
# type conversion 함수는 많습니다.
# [참고] https://intellipaat.com/blog/tutorial/python-tutorial/type-conversion-in-python/

f = 2
print(float(f))

print(int(2.2))
print(int(2.5))
print(int(2.9))

2.0
2
2
2

In [ ]:
a = 5 / 2
print(a)

a = 5 // 2
print(a)

2.5
2

In [ ]:
a = 100
b = “200”
result1 = a + b

SyntaxError: ignored

In [ ]:
a = 100
b = "200"
b = int(b)
result2 = a + b
print(result2)
print(a, b)

300
100 200

In [ ]:
print(str(100))
print(type(str(100)))

100
<class 'str'>

In [ ]:
user = "Jung"
lines = 50

# print("Hi" + user + lines + " lines of code.")
print("Hi" + user + str(lines) + " lines of code.")

HiJung50 lines of code.