<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/Python_1%EC%9E%A5_01_print_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 언어 시작

# 이와 같이 설명이 적혀있는 Cell은 Text cell이다.
# 파이썬 코드는 아래와 같은 Code cell에 적어야한다.

In [ ]:
# Sharp(샵) 기호로 시작되는 줄은 주석이다.
# 즉, 지금 읽고 있는 이 줄들은 모두 주석이다. 
# 주석은, 프로그램의 실행과는 상관없이 코드의 설명 등에 도움되는 정보를 기입하는 문장을 말한다.
# print() 함수는 괄호() 안의 내용물(파라미터)을 화면에 출력해준다.

# 아래는 1이라는 숫자값을 출력한다.
print(1)

# 이 코드를 실행하려면 
# 이 셀(cell) 좌측 상단의 삼각형 모양의 실행 아이콘을 클릭하거나
# Ctrl+Enter 키를 누르면 된다.

1

In [ ]:
# print() 함수를 통해 문자열도 출력할 수 있다.
# 즉, print() 함수의 괄호 내부에 출력할 내용을 적어주면 되기 때문이다.
# " " 또는 ' '로 묶인 부분을 문자열(string)이라고 한다.
# 문자열은 향후에 자세하게 설명한다.

print('Hello World!')

Hello World!

In [ ]:
# 숫자 1을 출력하고 싶으면...
print(1)

# 문자열 "1"을 출력하고 싶으면...
print("1")

# 물론 위의 2개의 출력 결과는 화면 상에서는 동일하다, 
# 숫자 1과 문자열 "1"은 컴퓨터 내부적으로 저장되는 형식이 다를 뿐이다.
print(1 + 1)

1
1
2

In [ ]:
# print() 함수의 괄호 내부에 적는 값을 파라미터(parameters, 매개 변수)라고 한다.
# print() 함수는 파라미터가 없으면 아무것도 출력되지 않고 줄만 바뀐다.
print(1)
print()
print(2)

1

2

In [ ]:
# 즉, print() 함수는 출력한 후 자동으로 줄을 바꿔준다.
print("Hello Python")

# 만약 줄을 바꾸고 싶다면... 아래와 같이 하면 된다.
print("Hello", end="\n") # 문자열 내에 \n 기호는 줄을 바꾸어주는 역할을 한다.
print("Python")

# 만약 줄을 바꾸고 싶지 않다면.... 아래와 같이 하면면 된다.
print("first", end="")
print("second")

# 위의 사항에서 무엇을 알 수있을까?
# print() 함수에는 파라미터가 1개 또는 2개(사실은 더 있을 수 있다)가 될 수 있다는 사실이다.

Hello Python
Hello
Python
firstsecond

In [ ]:
# 수식 계산은 계산이 완료된 최종 결과가 출력된다.
print(3+7*5)

# 여기서 무엇을 알 수 있을까?
# print() 함수를 실행하기 전에, 파라미터를 먼저 계산한다는 점이다. 
# 그, 계산된 결과가 print() 함수에게 전달된다.

38

In [ ]:
# 여러 값을 콤마(,)로 구분해서 출력할 수도 있다.
print("sum is:", 3+7)

sum is: 10

In [ ]:
# 문자열은 큰 따옴표와 작은 따옴표 모두 사용할 수 있다.
print('Hello')
print("Hello")

Hello
Hello

In [ ]:
# 필요한 경우는 큰 따옴표 내부에 작은 따옴표를... 작은 따옴표 내부에 큰 따옴표를 '문자'의 의미로 
# 사용할 수 있다.
print("This is Jung's Book.")
print('This is Jung"s Book.')

This is Jung's Book.
This is Jung"s Book.

In [ ]:
# 아래의 경우는 에러가 난다.
# 어디가 문자열의 끝인지 불 명확하기 때문이다.
print('This is Jung's Book.')

SyntaxError: ignored

In [ ]:
# 여러줄에 걸친 긴 문자열은 아래와 같이 할 수도 있다.

print("""여러 줄에 걸친 
            문자열은 큰 따옴표로 
       감쌀수 있습니다.""")

print('''여러 줄에 걸친 
            문자열은 작은 따옴표로도
       감쌀수 있습니다.''')

여러 줄에 걸친
            문자열은 큰 따옴표로
       감쌀수 있습니다.
여러 줄에 걸친
            문자열은 작은 따옴표로도
       감쌀수 있습니다.

# [각자 실습 해보자]
- 아래의 셀에서 각자 다양한 형식으로 print() 함수를 활용해보자.
- 뭔가 이상한 짓을 많이 해볼수록 도움된다.

In [ ]:
# 예를 들면 아래는 어떻게 출력될까?

print((((((1))))))
print(3+4*5)
print((3+4)*5)

# 아래 2 문장의 출력 결과의 차이를 살펴보자.
print('a','b','c')
print('abc')

1
23
35
a b c
abc