<a href="https://colab.research.google.com/github/bellepoque7/2023-data-science-edu/blob/main/python%20%EB%AC%B8%EB%B2%95(%EC%B5%9C%EC%9E%AC%EA%B7%9C%20%EA%B0%95%EC%82%AC)/Python_3%EC%9E%A5_09_Strings_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 생성

In [ ]:
# 큰 따옴표 또는 작은 따옴표로 문자열를 사용할 수 있다.

a = "Hello Python"
b = 'Python is good.'

print(a)
print(b)
print(type(a))
print(type(b))

Hello Python
Python is good.
<class 'str'>
<class 'str'>

In [ ]:
# 아래와 같이 
# 큰 따옴표 내부의 작은 따옴표(또는 작은 따옴표 내부의 큰 따옴표)는 일반 문자로 고려된다.
a = "Hello Python's World"
b = 'Hello Python"s World'

print(a)
print(b)

In [ ]:
# 큰 따옴표 또는 작은 따옴표 3개로 2줄 이상의 긴 문자열을 사용할 수 있다.

a = """This is a long string which is 3 lines...
this is the second line.
this is the third line."""

print(a)

b = """another string
this is the second line.
this is the third line."""

print(b)

""" 이 문자열은 주석(commnet) 같아 보이지만
실제로는 문자열을 정의한 문장입니다.
"""

This is a long string which is 3 lines...
this is the second line.
this is the third line.
another string
this is the second line.
this is the third line.

' 이 문자열은 주석(commnet) 같아 보이지만\n실제로는 문자열을 정의한 문장입니다.\n'

In [ ]:
# 위와 같이 문자열을 정의할 수도 있지만 
# str( ) 함수를 이용해서 숫자를 문자로 변환할 수 있다(명시적 형 변환).

a = str(3.14)
print(a)
print(type(a))

3.14
<class 'str'>

# 문자열 포맷팅(1): formatting letter사용
- 문자열을 출력하는 형식을 지정(formatting) 기능을 보자.

문자열 포맷팅을 쓰는 이유

In [ ]:
# "오늘은 2021년 9월 10일 월요일입니다" 출력
year = 2021
month = 9
day = 10
day_of_week = "월"

# 문자열 포맷팅을 사용하지 않을 경우
print("오늘은 " + str(year) + "년 " + str(month) + "월 " + str(day) + "일 " + day_of_week + "요일입니다.")

# 문자열 포맷팅을 사용할 경우
print("오늘은 %d년 %d월 %d일 %s요일입니다." % (year, month, day, day_of_week)) #정수는 %d, 문자는 %s로 체워넣는다
print("오늘은 %d년 %d월 %d일 %s요일입니다." % (year, month, day + 1, "화")) #%d = decimal integer, %s = string

print(1.0 / 3)
print("1 나누기 3은 %d" % (1.0 / 3)) # %d는
print("1 나누기 3은 %f" % (1.0 / 3)) # %f는 floating point
print("1 나누기 3은 %.3f" % (1.0 / 3)) # %.3f는 소수점 3자리까지

오늘은 2021년 9월 10일 월요일입니다.
오늘은 2021년 9월 10일 월요일입니다.
오늘은 2021년 9월 11일 화요일입니다.
0.3333333333333333
1 나누기 3은 0
1 나누기 3은 0.333333
1 나누기 3은 0.333

In [ ]:
# %d, %s와 같은 포맷 문자 위치에 % 뒤의 값이 삽입된다.
print("Hello Python %d" % 3)
print("Hello Python %s" % "version 3")

# 포매팅된 결과물이 바로 문자열이다.
msg = "Hello Python %s" % "version 3"
print(msg)

Hello Python 3
Hello Python version 3
Hello Python version 3

In [ ]:
# 2개 이상의 값을 넣고 싶으면 괄호 안에 콤마(,)로 구분해서 적어주면 된다.
print("Hello Python %d, my name is %s" % (3, 'keechul'))

Hello Python 3, my name is keechul

# 문자열 포맷팅(2): 문자열의 format() 메쏘드 사용
- 메쏘드(method)라는 것은 클래스 개념과 관련있다.
- 그래서 자세한 설명은 나중으로 미룬다.
- 일단 클래스에서 제공되는 함수라고 생각하자.

In [ ]:
# 문자열의 format( ) 메쏘드를 사용할 도 있다.
# {}안의 숫자로 위치를 설정한다.
# 메쏘드에 대한 이야기는 나중에 자세하게 한다.

print("Hello Python {}".format(3))
print("Hello Python {0}".format("version 3"))
print("Hello Python {0}. and {1}".format("version 3", "Jung"))

Hello Python 3
Hello Python version 3
Hello Python version 3. and Jung

In [ ]:
alpabets = "abcdefghijklmnopqrstuvwxyz"

for c in alpabets:
    if c == 'z':
        print(c)
    else:
        print(("{}-").format(c), end="")

# 문자열 포맷팅(3): f-string 포맷팅
- 파이썬 3.6 버젼부터 사용할 수 있는 기능이다.
- 이 방법은 이 교재의 말미에 나오는 웹 프로그래밍을 위한 Jinja Template와 유사하다.

In [ ]:
# 아래와 같이 shell에서도 파이썬 버젼을 확인할 수 있다.

!python --version

In [ ]:
# 또는, 아래와 같이 sys 모듈을 사용해서 파이썬 코드로도 확인할 수 있다.

import sys
print(sys.version)

# 문자열 포맷팅 방식 비교

In [ ]:
# 위의 내용을 포맷 문자로 구현하면 아래와 같다.
s_code = '20201234'
s_name = 'Tom'
print("저의 이름은 %s이며, 학번은 %s입니다" % (s_name, s_code))

저의 이름은 Tom이며, 학번은 20201234입니다

In [ ]:
# 위의 내용을 format() 메쏘드로 구현하면 아래와 같다.

s_code = '20201234'
s_name = 'Tom'
print("저의 이름은 {}이며, 학번은 {}입니다".format(s_name, s_code))

저의 이름은 Tom이며, 학번은 20201234입니다

In [ ]:
# f-string은 아래와 같이 사용할 수 있다.
# 문자열을 아주 직관적으로 만들 수 있는 방법이다.

s_code = '20201234'
s_name = 'Tom'
print(f"저의 이름은 {s_name}이며, 학번은 {s_code}입니다")

저의 이름은 Tom이며, 학번은 20201234입니다

# 실습  
주어진 코드에서 wage는 1시간에 얼마 버는지를 나타내는 값이고, exchange_rate는 1달러를 한국 돈으로 바꾸면 얼마인지 나타내는 값입니다.   
문자열 포맷팅인 format() 방식을 사용하여 아래의 문장들을 출력하세요.

In [ ]:

wage = 5                  # 시급 (1시간에 5달러)
exchange_rate = 1142.16   # 환율 (1달러에 1142.16원)

# 다음 답과 같이 코드를 입력 하세요.
# "1시간에 5달러 벌었습니다." 
# "5시간에 25달러 벌었습니다." 
# "1시간에 5710.8원 벌었습니다." 
# "5시간에 28554.0원 벌었습니다."

###정답

In [ ]:
wage = 5                  # 시급 (1시간에 5달러)
exchange_rate = 1142.16   # 환율 (1달러에 1142.16원)

# "1시간에 5달러 벌었습니다." 출력
print("{}시간에 {}{} 벌었습니다.".format(1, wage * 1, "달러"))

# "5시간에 25달러 벌었습니다." 출력
# 코드를 입력하세요.
print("{}시간에 {}{} 벌었습니다.".format(5, wage * 5, "달러"))

# "1시간에 5710.8원 벌었습니다." 출력
# 코드를 입력하세요.
print("{}시간에 {:.1f}{} 벌었습니다.".format(1, wage * 1 * exchange_rate, "원"))
# "5시간에 28554.0원 벌었습니다." 출력
# 코드를 입력하세요.
print("{}시간에 {:.1f}{} 벌었습니다.".format(5, wage * 5 * exchange_rate, "원"))

1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.

# 문자열 연산
- 문자열 연산은 리스트 연산과 유사하다(리스트 자료형은 후에 설명된다).
- 다만 문자열은 immutable(변경 불가능)이라는 특성만 주의하면 된다.
    - 지금 당장은 immutable이라는 단어의 의미를 설명하기는 어렵다. 
    - 다만 값을 변경할 수 없다는 의미로 이해하자.
- 아래에서는 교재에서 설명하지 않은 다양한 문자열 연산 방법을 설명한다.
    - 잘 배워두자.
    - 향후에 아주 중요하게 사용된다.

In [ ]:
a = 'python'
b = ' World'
print(a)
print(b)

# 문자열끼리의 덧셈은 '문자열 연결'이다.
print(a+b)

# 문자열과 정수의 곱셈은 '문자열의 반복'이다
print(a*2)
new_a = a*2
print(new_a)

# 문자열과 정수의 곱셈을 활용하면 아래와 같이 사용할 수 있다.
print("*"*100) # *를 100개 출력
print("-"*100)

python
 World
python World
pythonpython
pythonpython
****************************************************************************************************
----------------------------------------------------------------------------------------------------

In [ ]:
# 여기서 문자열 끼리의 곱셈 연산을 해보고 싶은 생각이 혹시 드시나요?
# 이는 허락되지 않는다.
# 혹시 이러한 문자열 끼리의 곱셈이 가능했으면 좋겠다는 생각이 든다면, 
# 그 결과값은 어떠한 형식이기를 기대하는지 스스로 한번 생각해보자.

print("a"*"b")

TypeError: ignored

# 위와 같이 엉뚱한 생각을 많이 해보시는 것도 프로그래밍 공부에 도움이 됩니다.

In [ ]:
print('python' == 'python')

# 문자열은 대소문자를 구별한다.
print('python' == 'Python')
print('a' == 'A')

True
False
False

# in 조건문

In [ ]:
print('p' in 'python')
print('a' in 'python')

True
False

# 위와 같은 in 조건문이 없다면...
- 아래와 같이 반복문을 사용해야할 것이다.

In [ ]:
is_found = False

for i in 'python':
    if 'p' == i:
        is_found = True
        break
        
print(is_found)

In [ ]:
# 문자열의 문자를 하나씩 출력하고 싶다면 반복문을 사용해보자.
a = 'python'

i = 0
while i<len(a):
    print(a[i])
    i += 1

In [ ]:
# 예전에도 설명했었지만, 위의 코드 셀 방식보다는 아래 형식을 추천한다.
# 굳이 인덱싱을 별도로 할 필요가 없다면 말이다.
a = 'python'

for ch in a:
    print(ch)

p
y
t
h
o
n